.trends {
  width: 300px;
  margin-bottom: 15px;
  .title {
    span {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 28px;
      color: #4f4f4f;
    }
  }
  .line {
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }
  .trend {
    font-family: "Noto Sans";
    font-style: normal;
    margin-bottom: 16px;
    p {
      font-weight: 600;
      font-size: 16px;
      color: #333333;
      margin-bottom: 6px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
      color: #828282;
    }
  }
}
