@import "../../variables.scss";
.search-bar {
  width: 46rem;
  margin-bottom: $base-margin;
  display: flex;
  color: $dark-gray;
  .search-icon {
    display: flex;
    align-items: center;
  }
  .input-field {
    display: flex;
    flex: 1;
    input {
      width: 98%;
      border: none;
      padding: 0 $base-padding * 0.75;
      font-family: $font-family-secondary;
      font-weight: $medium-font-weight;
      font-size: $base-font-size;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $dark-gray;
      }
    }
  }
  .search-btn {
    padding: $base-padding * 0.75 $base-padding * 1.5;
  }
}
