@import "../../variables.scss";

.profile-container {
  width: 55rem;
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    justify-content: center;
    .profile-img {
      position: relative;
      top: -50px;
      padding: $base-padding * 0.3;
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: $medium-border-radius;
      }
    }
    .profile-details {
      padding: $base-padding;
      .data {
        display: flex; //breakpoint here
        gap: $base-padding * 1.2;
        margin-bottom: $base-margin;
        .name {
          p {
            font-weight: $bold-font-weight;
            font-size: $base-font-size * 1.5;
          }
        }
        .fol {
          display: flex;
          align-items: end;
          gap: $base-padding;
          padding: $base-padding * 0.4 0;
          p {
            font-family: $font-family-secondary;
            font-weight: $medium-font-weight;
            font-size: $base-font-size * 0.8;
            color: $dark-gray;

            span {
              font-weight: $bold-font-weight;
              margin-right: 3px;
            }
          }
        }
      }
      .bio {
        p {
          font-family: $font-family-secondary;
          font-weight: $medium-font-weight;
          font-size: $base-font-size * 1.1;
          color: $dark-gray;
        }
      }
    }
  }
}
