@import "../../variables.scss";
.post {
  width: 46rem;
  margin-bottom: $base-margin * 1.5;
  .owner {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: $base-margin * 1.2;
    font-weight: $medium-font-weight;
    .title {
      flex: 1;
      span {
        font-family: $font-family-secondary;
        font-size: $base-font-size * 0.8;
        color: $medium-gray;
      }
    }
  }

  .content {
    width: 90%;
    margin-bottom: $base-margin * 2;
    p {
      font-family: $font-family-secondary;
    }
  }

  .image {
    margin-bottom: $base-margin;
    width: 90%;
    img {
      max-width: 100%;
      max-height: 20rem;
      height: auto;
      object-fit: contain;
      border-radius: $medium-border-radius;
    }
  }

  .status {
    border-bottom: 1px solid $off-white;
    text-align: end;
    padding-bottom: $base-padding * 0.75;
    padding-right: $base-padding * 0.5;
    span {
      font-family: $font-family-secondary;
      font-weight: $medium-font-weight;
      font-size: $base-font-size * 0.8;
      color: $medium-gray;
      margin-left: $base-margin * 1.2;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: $base-margin * 0.5 0;
    .item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $base-padding * 0.5 $base-padding * 2;
      border-radius: $medium-border-radius;
      color: $dark-gray;
      background: transparent;
      border: none;
      transition: 0.25s;
      .action-icon {
        font-size: $base-font-size;
      }
      p {
        font-family: $font-family-secondary;
        font-weight: $medium-font-weight;
        color: $dark-gray;
        margin-left: 5px;
      }
      &:hover {
        background: $off-white;
        cursor: pointer;
      }
    }
    .like {
      color: $red-primary;
      p {
        color: $red-primary;
      }
    }
    .save {
      p {
        color: $blue-primary;
      }
      color: $blue-primary;
    }
  }

  .reply {
    display: flex;
    gap: $base-font-size * 0.8;
    border-bottom: 1px solid $off-white;
    padding-bottom: $base-padding * 0.75;
    margin-bottom: $base-margin * 0.5;
    .field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $base-padding * 0.5;
      background: $off-white;
      border-radius: $medium-border-radius;
      width: 100%;
      gap: 5px;
      .reply-input {
        background: transparent;
        font-size: $base-font-size;
        width: 90%;
        border: none;
        &:focus {
          outline: none;
        }
      }
      .reply-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 4px 5px 6px;
        border-radius: 50%;
      }
    }
  }
  .comments {
    .comment {
      display: flex;
      gap: $base-padding;
      margin-bottom: $base-margin;
      .wrapper {
        background: $off-white;
        border-radius: $medium-border-radius;
        padding: 8px 15px 20px;
        padding: $base-padding * 0.5 $base-padding $base-padding * 1.1;
        margin-bottom: $base-margin * 0.4;

        .comment-profile {
          display: flex;
          align-items: center;
          gap: $base-padding;
          margin-bottom: $base-margin * 0.8;
          p {
            font-weight: $medium-font-weight;
          }
          span {
            font-family: $font-family-secondary;
            font-size: $base-font-size * 0.8;
            color: $medium-gray;
          }
        }
        .comment-para {
          p {
            font-family: $font-family-secondary;
            color: $dark-gray;
          }
        }
      }
      .data {
        display: flex;
        padding-left: $base-padding * 0.35;
        gap: $base-padding * 1.2;
        color: $medium-gray;
        font-size: $base-font-size * 0.8;
        .data-item {
          display: flex;
          align-items: center;
          gap: 3px;
          color: inherit;
          background: transparent;
          border: none;
          &:hover {
            cursor: pointer;
          }
        }
        .like {
          color: $red-primary;
          p {
            color: $red-primary;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .post {
    width: 96vw;
  }
}
