.options {
  width: 300px;
  border-radius: 8px;
  padding: 20px 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
      height: 30px;
      display: flex;
      align-items: center;
      line-height: 21px;
      padding: 0 20px;
      p {
        text-decoration: none;
        color: #828282;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        cursor: pointer;
        &.active {
          color: #2f80ed;
        }
      }
      &.active {
        border-left: 2px solid #2f80ed;
      }
    }
  }
}
