@import "../../variables.scss";

.options {
  width: 15rem;
  padding: $base-padding 0;
  ul {
    display: flex;
    flex-direction: column;
    gap: $base-padding;
    li {
      padding: $base-padding * 0.6 $base-padding;
      p {
        color: $dark-gray;
        font-weight: $medium-font-weight;
        font-size: $base-font-size * 0.9;
        cursor: pointer;
        &.active {
          color: $blue-primary;
        }
      }
      &.active {
        border-left: 3px solid $blue-primary;
      }
    }
  }
}
