@import "variables";

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-family-primary;
  min-height: 100vh;
  background: $off-white;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

li {
  list-style: none;
}

.bg-img {
  @extend %flex-center;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.sm-img {
  @extend %flex-center;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.homepage {
  @extend %flex-column-center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0 0.8rem;
  padding-bottom: 3rem;
}

.post-container {
  @extend %flex-column-center;
  width: 100%;
}
.users-container {
  @extend %flex-column-center;
  width: 100%;
}

.bookmarks {
  padding: 0.8rem;
  padding-bottom: 3rem;
}

.explore {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: $base-margin;
  gap: 10px;
  width: 100%;
  .component1 {
    align-self: start;
    grid-column: 1;
  }
  .component2 {
    grid-column: 2;
  }

  .component3 {
    grid-column: 2;
  }
  padding-bottom: 3rem;
}

.profile-page {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  padding: 0 0.8rem;
  padding-bottom: 3rem;
  .bg-cover {
    position: absolute;
    width: 100%;
    max-height: 15rem;
    height: auto;
    top: 0px;
    left: 0px;
    object-fit: cover;
  }
  .top {
    @extend %flex-center;
    margin-top: 12rem;
    width: 100%;
    z-index: 5;
  }
  .bottom {
    @extend %flex-center;
    width: 100%;
  }
}

.settings-page {
  @extend %flex-column-center;
  width: 100%;
  padding: 0 0.8rem;
}

//Media Query
@media (max-width:  #{get-breakpoint(xl)}) {
  .profile-page {
    gap: 1rem;

    .bg-cover {
      max-height: 200px;
      height: 200px;
      top: 0px;
      left: 0px;
      object-fit: cover;
    }
    .top {
      margin-top: 9rem;
      z-index: 5;
    }
  }
}

@media (max-width:  #{get-breakpoint(lg)}) {
  .explore {
    display: flex;
    padding: 0 0.8rem;
    gap: $base-padding;
    justify-content: center;
    margin-top: $base-margin;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin-top: $base-margin;
  }
}

@media (max-width:  #{get-breakpoint(sm)}) {
}

@media (max-width:  #{get-breakpoint(xs)}) {
  .homepage {
    padding: 0 0.5rem;
  }
  .bookmarks {
    padding: 0.8rem 0.5rem;
  }
  .bg-img {
    width: 36px;
    height: 36px;
  }
  .sm-img {
    width: 32px;
    height: 32px;
  }
  .explore {
    padding: 0 0.5rem;
  }
  .profile-page {
    padding: 0 0.5rem;
  }
  .settings-page {
    padding: 0 0.5rem;
  }
}
