$dark-gray: #4f4f4f;
$medium-gray: #6c6c6c;
$light-gray: #e0e0e0;
$blue-primary: #3f87e4;
$red-primary: #d92e2e;
$red-secondary: #f5e3e3;
$off-white: #f2f2f2;

$base-font-size: 1rem;
$base-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
$base-padding: 1em;
$base-margin: 1rem;
$base-border-radius: 5px;
$medium-border-radius: 8px;

$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Noto Sans", "sans-serif";

$base-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 600;
