// Fonts
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Noto Sans", "sans-serif";

//Colors
$off-white: #f2f2f2;
$dark-gray: #4f4f4f;
$medium-gray: #6c6c6c;
$light-gray: #e0e0e0;
$blue-primary: #3f87e4;
$red-primary: #d92e2e;
$red-secondary: #f5e3e3;

//Sizes
$base-font-size: 1rem;
$medium-font-size: 0.9rem;
$small-font-size: 0.8rem;
$base-padding: 1em;
$base-margin: 1em;

//Borders and shadows
$base-border-radius: 5px;
$medium-border-radius: 8px;
$base-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);

//Font weights
$base-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 600;

//Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 768px,
  lg: 1024px,
  xl: 1200px,
);

@function get-breakpoint($breakpoint-name) {
  @return map-get($breakpoints, $breakpoint-name);
}
