@import "../../variables";

.new-tweet {
  width: 46rem;
  .title {
    span {
      font-weight: 600;
      font-size: $base-font-size;
      line-height: $base-font-size * 2;
      color: $dark-gray;
    }
  }

  .line {
    border: 1px solid $light-gray;
    margin-bottom: $base-margin;
  }
  .middle {
    display: flex;
    gap: $base-font-size * 0.75;
    textarea {
      resize: none;
      font-family: $font-family-secondary;
      padding: $base-padding * 0.2;
      width: 100%;
      border: none;
      font-size: $base-font-size;

      &:focus {
        outline: none;
      }
    }
  }
  .last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: $base-margin * 3.2;
    color: $blue-primary;
    .story-btn {
      padding: $base-padding * 0.5 $base-padding * 1.5;
    }
  }
}

@media (max-width: 768px) {
  .new-tweet {
    width: 100%;
  }
}
