.button {
  background: #3882e3;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #2079ee;
  }
}
