.follow-btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 5px 20px;
  .icon {
    width: 15px;
  }
  span {
    font-weight: 500;
    font-size: 14px;
  }
}

.unfollow-btn {
  padding: 9px 20px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  span {
    font-weight: 500;
    font-size: 14px;
  }
}
